# Habilitar el motor de reescritura de URLs
RewriteEngine On

# Ignorar archivos y directorios físicos
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todas las solicitudes a index.php
RewriteRule ^(.*)$ index.php/$1 [L]
